@import "./normalize.css";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap");

$font-mont: "Montserrat", sans-serif;
$font-sans: sans-serif;

@-moz-keyframes spin {
    100% {
        -moz-transform: rotate(360deg);
    }
}
@-webkit-keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
    }
}
@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@mixin no-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
@mixin spoti-button() {
    background-color: #1db954;
    color: #191414;
    text-decoration: none;
    padding: 10px 30px;
    border: none;
    border-radius: 30px;
    outline: none;
    font-size: 0.8rem;
    font-weight: 600;
    cursor: pointer;

    &:hover {
        padding: 12px 32px;
        box-shadow: 0 4px 8px 0 rgba(29, 185, 84, 0.2), 0 6px 20px 0 rgba(29, 185, 84, 0.29);
    }
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html {
    width: 100%;
}
body {
    height: 100%;
    width: 100%;
    background-color: #191414;
    color: #1db954;
    font-family: $font-mont;
    font-weight: 400;
}
#root {
    height: 100%;
    width: 100%;
}

.page-container {
    height: 100%;
    width: 100%;
    display: block;

    .top {
        @media (max-width: 700px) {
            margin-top: 15%;
        }
        margin-top: 10%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .header {
            display: flex;
            flex-direction: column;
            column-gap: 4px;
            justify-content: center;
            align-items: center;
            text-align: center;

            @include no-select();

            .title {
                height: 45px;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                text-align: center;
                column-gap: 4px;
                margin-bottom: 0;

                .logo {
                    height: 2.5rem;
                    width: 2.5rem;
                    background: no-repeat;
                    background-position: center;
                    background-image: url("/content/img/icon/Spotify_Icon_RGB_Green.png");
                    background-size: 2.5rem;
                }
            }

            .secondary {
                display: flex;
                small {
                    font-size: 0.7rem;
                    padding: 0;
                    margin: 0;
                    line-height: 0;
                }
            }
        }

        .auth-container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
            margin-top: 1.5rem;
            background-color: transparent;

            .auth-link {
                @include spoti-button();
            }

            h6 {
                margin: 0;
                margin-top: 1rem;
                font-size: 0.6rem;
            }
        }
    }

    .main {
        height: 100%;
        width: 100%;
        margin-top: 5%;
        margin-bottom: 5rem;

        .results-container {
            height: 100%;

            .results {
                display: flex;
                justify-content: center;
                flex-direction: column;
                align-items: center;

                .funcs {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    flex-wrap: wrap;

                    @media (max-width: 625px) {
                        flex-direction: column;
                    }
                    width: 100%;
                    @include no-select();

                    input {
                        text-align: center;
                        padding: 7px 10px;
                        font-size: 0.9rem;
                        border: none;
                        border-bottom: 1px solid #1db954;
                        outline: none;
                        background: transparent;
                        color: #1db954;
                        transition: border-bottom 0.2s linear;
                        transition: padding 0.2s linear;
                        margin: 20px 30px;

                        &:focus {
                            padding: 7px 25px;
                            border-bottom: 4px solid #1db954;
                            border-radius: 5px;

                            &::placeholder {
                                color: transparent;
                            }
                        }

                        &::placeholder {
                            color: #1db954;
                            opacity: 0.8;
                        }

                        &::-ms-input-placeholder {
                            color: #1db954;
                        }

                        &::-ms-input-placeholder {
                            color: #1db954;
                        }
                    }

                    span {
                        font-size: 1.2rem;
                        align-self: center;
                        opacity: 0.9;
                    }

                    button {
                        @include spoti-button();
                        margin: 20px 10px;

                        @media (max-width: 625px) {
                            padding: 10px 35px;
                        }
                    }
                }

                .search-container {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-wrap: wrap;
                    width: 100%;
                    @include no-select();

                    ul {
                        @media (max-width: 625px) {
                            display: flex;
                            flex-direction: column;
                            width: 100%;
                        }

                        @media (max-width: 826px) {
                            width: 75%;
                        }

                        @media (max-width: 1000px) {
                            width: 75%;
                        }

                        display: flex;
                        flex-direction: row;
                        justify-content: center;
                        flex-wrap: wrap;
                        width: 50%;
                        align-items: center;
                        margin: 0 auto;
                        padding: 5px 0;
                        list-style-type: none;
                        columns: 2;
                        -webkit-columns: 2;
                        -moz-columns: 2;

                        li {
                            @media (max-width: 625px) {
                                width: 100%;
                            }

                            @media (max-width: 826px) {
                                width: 90%;
                            }

                            padding: 1px 5px;
                            width: 34%;

                            .artist-results {
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                padding: 2px 0 0 0;
                                cursor: pointer;
                                width: 100%;

                                .item {
                                    display: flex;
                                    justify-content: center;
                                    width: 100%;
                                    padding: 1px 5px;
                                    z-index: 9999;

                                    &:hover {
                                        background-color: #191414;
                                        filter: brightness(135%);
                                    }

                                    .art {
                                        align-self: center;
                                        width: 65px;
                                        height: 65px;
                                        @include no-select();
                                        pointer-events: none;
                                        img {
                                            width: 65px;
                                            height: 65px;
                                            margin-top: 2px;
                                        }
                                    }
                                    .name {
                                        color: #fff;
                                        opacity: 0.8;
                                        font-size: 0.8rem;

                                        @media (min-width: 760px) {
                                            font-size: 0.9rem;
                                        }
                                        @media (min-width: 1260px) {
                                            font-size: 1rem;
                                        }
                                        padding: 15px 0;
                                        width: 100%;
                                        margin-left: 1rem;
                                        align-self: center;
                                        z-index: 1;
                                        pointer-events: none;
                                    }
                                }

                                .single-item {
                                    display: flex;
                                    justify-content: center;
                                    width: 100%;
                                    height: 100px;
                                    padding: 0px 5px;
                                    z-index: 9999;

                                    &:hover {
                                        background-color: #191414;
                                        filter: brightness(135%);
                                    }

                                    .art {
                                        align-self: center;
                                        width: 100px;
                                        @include no-select();
                                        pointer-events: none;

                                        img {
                                            width: 100px;
                                            height: 95px;
                                            padding-top: 5px;
                                        }
                                    }
                                    .name {
                                        color: #fff;
                                        opacity: 0.8;
                                        font-size: 0.9rem;

                                        @media (min-width: 760px) {
                                            font-size: 1rem;
                                        }
                                        @media (min-width: 1260px) {
                                            font-size: 1.1rem;
                                        }
                                        height: 100px;
                                        display: flex;
                                        align-items: center;
                                        width: 100%;
                                        padding: 0px 10px;
                                        z-index: 1;
                                        pointer-events: none;
                                    }
                                }

                                .selected {
                                    border-radius: 5px;
                                    color: #191414;
                                    background-color: #1db954;
                                    filter: brightness(55%);
                                    &:hover {
                                        background-color: #1db954;
                                        filter: brightness(85%);
                                    }
                                }
                            }

                            .track-results {
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                padding: 2px 0 0 0;
                                cursor: pointer;
                                width: 100%;

                                .item {
                                    @media (max-width: 625px) {
                                        min-width: 215px;
                                        padding: 1px 15px;
                                    }

                                    display: flex;
                                    justify-content: center;
                                    padding: 1px 5px;
                                    word-wrap: break-word;
                                    width: 100%;
                                    z-index: 9999;

                                    &:hover {
                                        background-color: #191414;
                                        filter: brightness(135%);
                                    }

                                    .art {
                                        align-self: center;
                                        width: 65px;
                                        height: 65px;
                                        @include no-select();
                                        pointer-events: none;

                                        img {
                                            width: 65px;
                                            height: 65px;
                                            margin-top: 2px;
                                        }
                                    }
                                    .name {
                                        color: #fff;
                                        opacity: 0.8;
                                        font-size: 0.8rem;

                                        @media (min-width: 760px) {
                                            font-size: 0.9rem;
                                        }
                                        @media (min-width: 1260px) {
                                            font-size: 1rem;
                                        }
                                        padding: 15px 0;
                                        width: 100%;
                                        margin-left: 1rem;
                                        align-self: center;
                                        z-index: 1;
                                        pointer-events: none;

                                        span {
                                            color: #b3b3b3;
                                            padding-top: 5px;
                                            font-size: 0.6rem;

                                            @media (min-width: 760px) {
                                                font-size: 0.7rem;
                                            }
                                            @media (min-width: 1260px) {
                                                font-size: 0.8rem;
                                            }
                                            display: block;
                                            z-index: 1;
                                            pointer-events: none;
                                        }
                                        .album {
                                            font-size: 0.6rem;
                                        }
                                    }
                                }

                                .single-item {
                                    display: flex;
                                    justify-content: center;
                                    width: 100%;
                                    height: 100px;
                                    padding: 0px 5px;

                                    &:hover {
                                        background-color: #191414;
                                        filter: brightness(135%);
                                    }

                                    .art {
                                        align-self: center;
                                        width: 100px;
                                        @include no-select();

                                        img {
                                            width: 100px;
                                            height: 95px;
                                            padding-top: 5px;
                                        }
                                    }
                                    .name {
                                        font-size: 0.9rem;

                                        @media (min-width: 760px) {
                                            font-size: 1rem;
                                        }
                                        @media (min-width: 1260px) {
                                            font-size: 1.1rem;
                                        }
                                        height: 100px;
                                        display: flex;
                                        align-items: center;
                                        width: 100%;
                                        padding: 0px 10px;
                                        span {
                                            display: block;
                                        }
                                    }
                                }

                                .selected {
                                    border-radius: 5px;
                                    color: #fff;
                                    background-color: #1db954;
                                    filter: brightness(65%);

                                    span {
                                        color: #fff !important;
                                    }
                                    &:hover {
                                        background-color: #1db954;
                                        filter: brightness(85%);
                                    }
                                }
                            }
                        }
                    }
                    ul.single {
                        display: flex;
                    }
                }
            }

            .error {
                h5 {
                    margin: 5px;
                    text-align: center;
                }
            }

            .tracks {
                width: 100%;

                @media (min-width: 760px) {
                    width: 80%;
                }
                @media (min-width: 1260px) {
                    width: 55%;
                }

                ul {
                    margin: 0;
                    padding: 0;
                    list-style-type: none;
                    .track-info {
                        display: flex;
                        flex-direction: row;
                        justify-content: flex-start;
                        align-items: center;
                        width: 100%;
                        color: #fff;

                        &:hover {
                            background-color: #191414;
                            filter: brightness(135%);
                            cursor: default;
                            span {
                                color: #fff !important;
                            }
                        }

                        .art {
                            width: 64px;
                            @include no-select();
                            img {
                                width: 64px;
                                height: 64px;
                            }
                        }
                        .name {
                            font-size: 0.8rem;

                            @media (min-width: 760px) {
                                font-size: 0.9rem;
                            }
                            @media (min-width: 1260px) {
                                font-size: 1rem;
                            }

                            width: 60%;
                            margin-left: 1rem;
                            span {
                                color: #b3b3b3;
                                padding-top: 5px;
                                font-size: 0.65rem;

                                @media (min-width: 760px) {
                                    font-size: 0.7rem;
                                }
                                @media (min-width: 1260px) {
                                    font-size: 0.8rem;
                                }

                                display: block;
                            }

                            .album {
                                font-size: 0.6rem;
                            }
                        }

                        .preview {
                            @include no-select();
                            width: 35%;
                            @media (min-width: 760px) {
                                width: 30%;
                            }
                            @media (min-width: 1260px) {
                                width: 25%;
                            }
                            padding: 0;
                            button {
                                @include spoti-button();
                                width: 100%;
                                font-size: 0.7rem;
                            }
                        }

                        .duration {
                            width: 9%;
                            align-self: center;
                            justify-self: flex-start;

                            @include no-select();
                            span {
                                color: #b3b3b3;
                                text-align: left;
                                font-size: 0.7rem;

                                @media (min-width: 760px) {
                                    font-size: 0.8rem;
                                }
                                @media (min-width: 1260px) {
                                    font-size: 0.9rem;
                                }
                            }
                        }

                        li {
                            padding: 1rem;
                        }
                    }
                }
            }
        }
    }
}

.bottom {
    font-family: $font-sans;
    display: block;
    height: 25px;
    width: 100%;
    position: absolute;
    top: 5px;

    footer {
        display: flex;
        flex-direction: row;
        font-size: 0.65em;
        margin-right: 1.5rem;
        width: 100%;
        text-align: center;

        @include no-select();

        .github {
            margin-right: 0.6rem;
            justify-self: center;
            align-self: center;
            flex-grow: 0;

            button {
                outline: none;
                border: none;
                height: 1.3rem;
                width: 1.3rem;
                background: no-repeat;
                background-position: center;
                background-image: url("/content/img/icon/GitHub-Mark-Light-64px.png");
                background-size: 1.3rem;
                cursor: pointer;
                &:hover {
                    position: relative;
                    bottom: 1.5px;
                    border-radius: 10px;
                    box-shadow: 0 4px 8px 0 rgba(29, 185, 84, 0.5), 0 6px 20px 0 rgba(29, 185, 84, 0.29);
                }
            }
        }

        .logout {
            margin-left: 0.6em;
            justify-self: flex-start;
            align-self: flex-start;
            text-align: left;
            flex-grow: 8;

            button {
                color: #1db954;
                outline: none;
                border: none;
                background-color: transparent;
                width: 4.4rem;
                height: 1.4rem;
                cursor: pointer;
                &:hover {
                    position: relative;
                    bottom: 1.5px;
                    border-radius: 10px;
                    background-color: #1db954;
                    color: #191414;
                    box-shadow: 0 4px 8px 0 rgba(29, 185, 84, 0.5), 0 6px 20px 0 rgba(29, 185, 84, 0.29);
                }
            }
        }

        .info {
            display: flex;
            flex-direction: column;
            flex-grow: 0;
            margin-right: 0.55rem;
            align-self: center;

            .spoti {
                @media (max-width: 760px) {
                    font-size: 0.5rem;
                }
                font-size: 0.55rem;
            }

            .react {
                @media (max-width: 760px) {
                    font-size: 0.55rem;
                }
                h3 {
                    text-shadow: 1px 1px 2px rgba(255, 250, 250, 0.7);
                    display: inline-block;
                    margin: 0;
                    color: #61dbfb;
                    cursor: pointer;

                    &:hover {
                        position: relative;
                        bottom: 1.5px;
                    }
                }
                h2 {
                    text-shadow: 1px 1px 2px rgba(111, 78, 55, 0.7);
                    display: inline-block;
                    margin: 0;
                }
            }
        }
    }
}

.loading {
    .lds-roller {
        display: inline-block;
        position: relative;
        width: 80px;
        height: 80px;
    }
    .lds-roller div {
        animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
        transform-origin: 40px 40px;
    }
    .lds-roller div:after {
        content: " ";
        display: block;
        position: absolute;
        width: 5px;
        height: 5px;
        border-radius: 50%;
        background: #1db954;
        margin: -4px 0 0 -4px;
    }
    .lds-roller div:nth-child(1) {
        animation-delay: -0.036s;
    }
    .lds-roller div:nth-child(1):after {
        top: 63px;
        left: 63px;
    }
    .lds-roller div:nth-child(2) {
        animation-delay: -0.072s;
    }
    .lds-roller div:nth-child(2):after {
        top: 68px;
        left: 56px;
    }
    .lds-roller div:nth-child(3) {
        animation-delay: -0.108s;
    }
    .lds-roller div:nth-child(3):after {
        top: 71px;
        left: 48px;
    }
    .lds-roller div:nth-child(4) {
        animation-delay: -0.144s;
    }
    .lds-roller div:nth-child(4):after {
        top: 72px;
        left: 40px;
    }
    .lds-roller div:nth-child(5) {
        animation-delay: -0.18s;
    }
    .lds-roller div:nth-child(5):after {
        top: 71px;
        left: 32px;
    }
    .lds-roller div:nth-child(6) {
        animation-delay: -0.216s;
    }
    .lds-roller div:nth-child(6):after {
        top: 68px;
        left: 24px;
    }
    .lds-roller div:nth-child(7) {
        animation-delay: -0.252s;
    }
    .lds-roller div:nth-child(7):after {
        top: 63px;
        left: 17px;
    }
    .lds-roller div:nth-child(8) {
        animation-delay: -0.288s;
    }
    .lds-roller div:nth-child(8):after {
        top: 56px;
        left: 12px;
    }
    @keyframes lds-roller {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }
}
