@import "./normalize.css";

@-moz-keyframes spin {
    100% {
        -moz-transform: rotate(360deg);
    }
}
@-webkit-keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
    }
}
@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@mixin no-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html {
    height: 100%;
    width: 100%;
}
body {
    height: 100%;
    width: 100%;
    background-color: #191414;
    color: #1db954;
    font-family: Sans-Serif;
}
#root {
    height: 100%;
    width: 100%;
}

.page-container {
    height: 100%;
    width: 100%;
    display: block;

    .top {
        height: 40%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .header {
            display: flex;
            flex-direction: column;
            column-gap: 4px;
            justify-content: center;
            align-items: center;
            text-align: center;

            @include no-select();

            .title {
                height: 45px;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                text-align: center;
                column-gap: 4px;
                margin-bottom: 0;

                .logo {
                    height: 2.5rem;
                    width: 2.5rem;
                    background: no-repeat;
                    background-position: center;
                    background-image: url("/content/img/icon/Spotify_Icon_RGB_Green.png");
                    background-size: 2.5rem;
                    -webkit-animation: spin 9s linear infinite;
                    -moz-animation: spin 9s linear infinite;
                    animation: spin 9s linear infinite;
                }
            }

            .secondary {
                display: flex;
                small {
                    font-size: 0.7rem;
                    padding: 0;
                    margin: 0;
                    line-height: 0;
                }
            }
        }

        .search-container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            row-gap: 15px;
            width: 100%;
            margin-top: 1rem;

            input {
                text-align: center;
                @media (max-width: 700px) {
                    width: 50%;
                }
                width: 25%;
                padding: 7px 10px;
                font-size: 1rem;
                border: none;
                border-bottom: 1px solid #1db954;
                outline: none;
                background: transparent;
                color: #1db954;
                transition: border-bottom 0.2s linear;
                transition: width 0.2s linear;

                &:focus {
                    @media (max-width: 700px) {
                        width: 60%;
                    }
                    width: 35%;
                    border-bottom: 2px dotted #1db954;

                    &::placeholder {
                        color: transparent;
                    }
                }

                &::placeholder {
                    color: #1db954;
                    opacity: 1;
                }

                &::-ms-input-placeholder {
                    color: #1db954;
                }

                &::-ms-input-placeholder {
                    color: #1db954;
                }
            }
            .random {
                padding: 7px 10px;
                text-align: center;
                cursor: pointer;
                border: none;
                border-bottom: 1px solid #1db954;
                border-left: 1px solid #1db954;
                border-right: 1px solid #1db954;
                outline: none;
                background: transparent;
                color: #1db954;
                transition: border-bottom 0.2s linear;
                font-size: 0.9rem;
                &:hover {
                    border-bottom: 3px dotted #1db954;
                }
            }
        }

        .auth-container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
            margin-top: 1.5rem;
            background-color: transparent;

            .auth-link {
                background-color: #1db954;
                color: #191414;
                text-decoration: none;
                padding: 10px 30px;
                border: none;
                border-radius: 30px;
                outline: none;
                font-size: 0.8rem;
                font-weight: 600;
                cursor: pointer;

                &:hover {
                    padding: 12px 32px;
                    box-shadow: 0 4px 8px 0 rgba(29, 185, 84, 0.2), 0 6px 20px 0 rgba(29, 185, 84, 0.29);
                }
            }
        }
    }

    .main {
        height: 55%;
        width: 100%;

        .results-container {
            height: 100%;

            .results {
                display: flex;
                justify-content: center;
                .state {
                }
            }
        }
    }

    .bottom {
        position: fixed;
        bottom: 0;
        margin-bottom: 8px;
        width: 100%;

        footer {
            display: flex;
            flex-direction: row;
            float: right;
            font-size: 0.65rem;
            margin-right: 1.5rem;
            text-align: center;

            @include no-select();

            .github {
                margin-right: 0.6rem;
                justify-self: center;
                align-self: center;

                button {
                    outline: none;
                    border: none;
                    height: 1.4rem;
                    width: 1.4rem;
                    background: no-repeat;
                    background-position: center;
                    background-image: url("/content/img/icon/GitHub-Mark-Light-64px.png");
                    background-size: 1.4rem;
                    cursor: pointer;
                    &:hover {
                        position: relative;
                        bottom: 1.5px;
                        border-radius: 10px;
                        box-shadow: 0 4px 8px 0 rgba(29, 185, 84, 0.5), 0 6px 20px 0 rgba(29, 185, 84, 0.29);
                    }
                }
            }

            .info {
                display: flex;
                flex-direction: column;
                .spoti {
                    font-size: 0.6rem;
                }

                .react {
                    h3 {
                        text-shadow: 1px 1px 2px rgba(29, 185, 84, 0.6);
                        display: inline-block;
                        margin: 0;
                    }
                }
            }
        }
    }
}
